.btn-clickhere{
  background-color: rgb(220, 53, 81);
  text-align: center;
  color: rgb(5, 5, 5);
}

.btn-clickhere:hover{
  background-color: rgb(120, 9, 27);
  color: wheat;
}

.btn-back{
  background-color: rgb(107, 190, 30);
  text-align: center;
  color: rgb(5, 5, 5);
}
.btn-back:hover{
  background-color: rgb(40, 96, 3);
  text-align: center;
  color: rgb(255, 255, 255);
}
button{
  border-radius: 5px;
  width: 100px;
  height: 40px;
  font-size: 0.9rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
.btn-container{
  display: flex;
  justify-content: center;
  gap: 8px;
}