.welcome-message{
    font-size: 2.5em;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 0;
    text-align: center;
}

.login-prompt{
  font-size: 2.5em;
  background-color: rgb(198, 19, 37);
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
  text-align: center;
}